{% set idprefix = ["bd-basicbattery-energy-esbd-", idsuffix] | join %}
<figure class="demo-container" style="max-width: 300px">
    <div class="bd-container" id="{{ idprefix }}"></div>

    <div style="text-align: center">
        <div>
            <label for="{{ idprefix }}-current-slider" style="font-size: 0.85em"
                >Current (<b
                    ><span id="{{ idprefix }}-current-text"
                        >equilibrium</span
                    ></b
                >):</label
            >
            <br />
            <input
                type="range"
                id="{{ idprefix }}-current-slider"
                list="{{ idprefix }}-current-slider-datalist"
                min="-1"
                max="1"
                step="any"
                value="0.0"
                style="width: 100px"
            />
            <datalist id="{{ idprefix }}-current-slider-datalist">
                <option value="0" label="0">0</option>
            </datalist>
        </div>
        <div>
            <label for="{{ idprefix }}-dphi-slider" style="font-size: 0.85em"
                >Electrostatic change $\Delta\phi$:</label
            >
            <br />
            <input
                type="range"
                id="{{ idprefix }}-dphi-slider"
                min="-0.7"
                max="0.7"
                step="any"
                value="0.0"
                style="width: 100px"
            />
        </div>
    </div>
</figure>

<script type="module">
    const plotContainerId = '{{ idprefix }}';
    const dPhiSliderId = '{{ idprefix }}-dphi-slider';
    const currentSliderId = '{{ idprefix }}-current-slider';
    const currentTextId = '{{ idprefix }}-current-text';

    import BandDiagram from '{{ esbdJsPath }}BandDiagram.js';
    import { throttle } from '{{ esbdJsPath }}utils.js';

    const throttleDuration = 100; // should be 1/5 or less of transitionDuration

    const diagram = new BandDiagram(plotContainerId);
    const dPhiSlider = document.getElementById(dPhiSliderId);
    const currentSlider = document.getElementById(currentSliderId);
    const currentText = document.getElementById(currentTextId);

    // Set layout
    const boundaries = [0.0, 0.2, 0.3, 0.7, 0.8, 1.0];
    diagram.setSpatialLayout(
        boundaries,
        [
            { name: 'Anode', color: '#AAAAAA' },
            { name: 'Anode-active', color: '#bbb' },
            { name: 'Electrolyte', color: '#E6F5FF' },
            { name: 'Cathode-active', color: '#bbb' },
            { name: 'Cathode', color: '#AAAAAA' },
        ],
        [
            { label: 'Anode', x: 0.15 },
            { label: 'Electrolyte', x: 0.5 },
            { label: 'Cathode', x: 0.85 },
        ]
    );

    diagram.setYLabel('Species voltage (V)');
    diagram.setYRange(-0.8, +4.1);

    const R_anode = 0.05;
    const R_cathode = R_anode;
    const R_Li = 0.2;
    const OCV_anode = 0.1;
    const OCV_cathode = 3.4;

    const li_color = '#E41A1C';
    const electron_color = '#377EB8';

    function updateDiagrams() {
        const dphi = parseFloat(dPhiSlider.value);
        const current = parseFloat(currentSlider.value);

        if (current > 0) {
            currentText.textContent = 'discharging⇨';
        } else if (current < 0) {
            currentText.textContent = '⇦charging';
        } else {
            currentText.textContent = 'equilibrium';
        }

        const V_left = 0.0 + dphi;
        const V_anode = V_left - current * R_anode;
        const V_Li_left = V_anode - OCV_anode;
        const V_Li_right = V_Li_left - current * R_Li;
        const V_cathode = V_Li_right + OCV_cathode;
        const V_right = V_cathode - current * R_cathode;

        const b = boundaries;
        diagram.updateTraceData([
            {
                id: 'anode_trace',
                label: 'V_{\\mathrm{e}^-}',
                showLabel: true,
                color: electron_color,
                x: [b[0], b[2]],
                y: [V_left, V_anode],
            },
            {
                id: 'li_trace',
                label: 'V_{\\mathrm{Li}^+}',
                showLabel: true,
                color: li_color,
                x: [b[1], b[4]],
                y: [V_Li_left, V_Li_right],
            },
            {
                id: 'cathode_trace',
                label: 'V_{\\mathrm{e}^-}',
                showLabel: true,
                color: electron_color,
                x: [b[3], b[5]],
                y: [V_cathode, V_right],
            },
        ]);
    }

    // Slider event listeners - throttle them.
    const updateThrottler = throttle(
        (event) => updateDiagrams(),
        throttleDuration
    );
    dPhiSlider.addEventListener('input', updateThrottler);
    currentSlider.addEventListener('input', updateThrottler);

    updateDiagrams();
</script>
