<figure class="demo-container" style="max-width: 300px">
    <div class="bd-container" id="electrode-generic-container"></div>
</figure>

<script type="module">
    const plotContainerId = 'electrode-generic-container';

    import ElectrochemicalSpeciesBandDiagram from '{{ esbdJsPath }}ElectrochemicalSpeciesBandDiagram.js';
    import { formatPopupBaseContent, throttle } from '{{ esbdJsPath }}utils.js';

    const speciesInfo = {
        ion: {
            z: 1,
            color: '#E41A1C',
            mathLabel: '\\mathrm{ion}',
        },
        other: {
            color: '#a04080',
            mathLabel: '\\mathrm{other}',
        },
        other2: {
            color: '#a04080',
            mathLabel: '\\mathrm{other}',
        },
        electron: {
            z: -1,
            color: '#377EB8',
            mathLabel: '\\mathrm{e}^{-}',
        },
    };

    const diagram = new ElectrochemicalSpeciesBandDiagram(
        plotContainerId,
        speciesInfo
    );

    // Set layout
    const boundaries = [0.0, 0.25, 0.55, 0.75, 1.0];
    const x_deltaV = 0.875;
    diagram.setSpatialLayout(boundaries, [
        { name: 'Solution', color: '#E6F5FF' },
        { name: 'Electrode', color: '#d0d0d0' },
        { name: 'Wire', color: '#F0B090' },
        { name: 'Voltmeter', color: '#a0e0a0' },
    ]);

    const V_el = +0.8;
    const V_ion = V_el - 1.1;
    const V_other = V_el + 0.5;
    const V_other2 = V_ion - 0.4;
    diagram.setVRange(V_other2 - 0.4, V_other + 0.4);

    const b = boundaries;
    diagram.updateTraceData([
        {
            id: `electron_trace`,
            speciesId: 'electron',
            curveType: 'potential',
            showLabel: true,
            x: [b[1], x_deltaV],
            y: [V_el, V_el],
        },
        {
            id: `electron_trace_gnd`,
            speciesId: 'electron',
            curveType: 'potential',
            showLabel: true,
            labelOverride: '\\mathrm{GND}',
            x: [x_deltaV, 1],
            y: [0, 0],
        },
        {
            id: `ion_trace`,
            speciesId: 'ion',
            curveType: 'potential',
            showLabel: true,
            x: [b[0], b[1]],
            y: [V_ion, V_ion],
        },
        {
            id: `other_trace`,
            speciesId: 'other',
            curveType: 'potential',
            showLabel: true,
            x: [b[0], b[1]],
            y: [V_other, V_other],
        },
        {
            id: `other2_trace`,
            speciesId: 'other2',
            curveType: 'potential',
            showLabel: true,
            x: [b[0], b[1]],
            y: [V_other2, V_other2],
        },
    ]);

    diagram.addVerticalMarker('react', {
        symbol: 'Δ',
        speciesId1: 'electron',
        speciesId2: 'ion',
        popupCallback: () => 'Ion-electron reaction',
    });
    diagram.updateVerticalMarker('react', {
        x: b[1],
        y1: V_el,
        y2: V_ion,
    });
    diagram.addVerticalMarker('voltmeter', {
        symbol: 'V',
        speciesId1: 'electron',
        speciesId2: 'ion',
        popupCallback: () => 'Voltmeter',
    });
    diagram.updateVerticalMarker('voltmeter', {
        x: x_deltaV,
        y1: 0,
        y2: V_el,
    });
</script>
