{% set idprefix = "esbd-ferrous-ferric" %}
{% import "macros/controls.njk" as controls %}
<div class="bd-container" id="{{idprefix}}-container"></div>
{{ controls.slider(idprefix + "-current-slider", "Separation", { min: 0, max: 0.5, value: 0.25, snap: 0 }) }}

<script type="module">
    import ElectrochemicalSpeciesBandDiagram from '{{ esbdJsPath }}ElectrochemicalSpeciesBandDiagram.js';
    import { SPECIES, REGION } from '{{ esbdJsPath }}figureDefs.js';
    import { makeSlider } from '{{ esbdJsPath }}utils.js';

    const speciesInfo = {
        ferrous: SPECIES.ferrous,
        ferric: SPECIES.ferric,
        electron: SPECIES.electron,
    };

    const diagram = new ElectrochemicalSpeciesBandDiagram(
        '{{idprefix}}-container',
        speciesInfo
    );

    const boundaries = [0.0, 0.5, 1.0];
    diagram.setSpatialLayout(boundaries, [
        { ...REGION.metal, name: 'Inert metal' },
        REGION.solution,
    ]);

    function update(separation) {
        const V_el = +0;
        const V_Fe2 = V_el - separation;
        const V_Fe3 = (V_el + 2 * V_Fe2) / 3;

        diagram.setVRange(V_el - 0.58, V_el + 0.12);

        const b = boundaries;
        diagram.updateTraceData([
            {
                id: 'electron_trace',
                speciesId: 'electron',
                curveType: 'voltage',
                showLabel: true,
                x: [b[0], b[1]],
                y: [V_el, V_el],
            },
            {
                id: 'electron_implied_trace',
                speciesId: 'electron',
                curveType: 'voltageImplied',
                showLabel: false,
                x: [b[1], b[2]],
                y: [V_el, V_el],
            },
            {
                id: 'ferrous_trace',
                speciesId: 'ferrous',
                curveType: 'voltage',
                showLabel: true,
                x: [b[1], b[2]],
                y: [V_Fe2, V_Fe2],
            },
            {
                id: 'ferric_trace',
                speciesId: 'ferric',
                curveType: 'voltage',
                showLabel: true,
                x: [b[1], b[2]],
                y: [V_Fe3, V_Fe3],
            },
        ]);

        diagram.updateVerticalMarkers([
            {
                id: 'x',
                symbol: '⇌',
                x: b[1],
                yDefs: [{ y: V_el }, { y: V_Fe2 }, { y: V_Fe3 }],
                popupCallback: () =>
                    '$\\mathrm{Fe}^{3+} + \\mathrm{e}^- \\rightleftharpoons \\mathrm{Fe}^{2+}$',
            },
        ]);
    }

    makeSlider('{{idprefix}}-current-slider', update);
</script>
