<div class="bd-container" id="h2o-autoionization-container"></div>

<script type="module">
    import ElectrochemicalSpeciesBandDiagram from '{{ esbdJsPath }}ElectrochemicalSpeciesBandDiagram.js';
    import { SPECIES, REGION } from '{{ esbdJsPath }}figureDefs.js';

    const diagram = new ElectrochemicalSpeciesBandDiagram('h2o-autoionization-container', {
        cation: SPECIES.proton,
        anion: SPECIES.hydroxide,
    });

    const boundaries = [0, 1];
    diagram.setSpatialLayout(boundaries, [{ ...REGION.solution, name: 'Water' }]);

    const Delta = -2.457; // V
    const V_cat = -0.4567; //random
    const V_an = V_cat - Delta;
    diagram.setVRange(Math.min(V_cat, V_an) - 0.2, Math.max(V_cat, V_an) + 0.2);

    const b = boundaries;
    diagram.updateTraceData([
        {
            id: `anion_trace`,
            speciesId: 'anion',
            curveType: 'voltage',
            showLabel: true,
            x: [b[0], b[1]],
            y: [V_an, V_an],
        },
        {
            id: `cation_trace`,
            speciesId: 'cation',
            curveType: 'voltage',
            showLabel: true,
            x: [b[0], b[1]],
            y: [V_cat, V_cat],
        },
    ]);

    diagram.updateVerticalMarkers([
        {
            id: 'reaction',
            symbol: '⇌',
            x: 0.5,
            yDefs: [{ y: V_an }, { y: V_cat }],
            popupCallback: () =>
                '$ \\mathrm{H}^+ + \\mathrm{OH}^- \\rightleftharpoons \\mathrm{H_2O}. $',
        },
    ]);
</script>
