<div class="bd-container" id="nacl-saturation-container"></div>

<script type="module">
    import ElectrochemicalSpeciesBandDiagram from '{{ esbdJsPath }}ElectrochemicalSpeciesBandDiagram.js';
    import { SPECIES, REGION } from '{{ esbdJsPath }}figureDefs.js';

    const diagram = new ElectrochemicalSpeciesBandDiagram('nacl-saturation-container', {
        cation: SPECIES.sodium,
        anion: SPECIES.chloride,
    });

    const boundaries = [0, 0.5, 1];
    diagram.setSpatialLayout(boundaries, [
        { ...REGION.solid, name: 'NaCl solid' },
        { ...REGION.solution, name: 'Brine' },
    ]);

    const Delta = -3.9813; // V
    const V_cat = -0.789; //random
    const V_an = V_cat - Delta;
    diagram.setVRange(Math.min(V_cat, V_an) - 0.2, Math.max(V_cat, V_an) + 0.2);

    const b = boundaries;
    diagram.updateTraceData([
        {
            id: `anion_trace`,
            speciesId: 'anion',
            curveType: 'voltage',
            showLabel: true,
            x: [b[1], b[2]],
            y: [V_an, V_an],
        },
        {
            id: `cation_trace`,
            speciesId: 'cation',
            curveType: 'voltage',
            showLabel: true,
            x: [b[1], b[2]],
            y: [V_cat, V_cat],
        },
    ]);

    diagram.updateVerticalMarkers([
        {
            id: 'reaction',
            symbol: '⇌',
            x: 0.5,
            yDefs: [{ y: V_an }, { y: V_cat }],
            popupCallback: () =>
                '$ \\mathrm{Na}^+ + \\mathrm{Cl}^- \\rightleftharpoons \\mathrm{NaCl}. $',
        },
    ]);
</script>
