<div class="demo-container" style="max-width: 300px">
    <div class="bd-container" id="ag-agcl-electrode-container"></div>
</div>

<script type="module">
    const plotContainerId = 'ag-agcl-electrode-container';

    import ElectrochemicalSpeciesBandDiagram from '{{ esbdJsPath }}ElectrochemicalSpeciesBandDiagram.js';
    import { formatPopupBaseContent, throttle } from '{{ esbdJsPath }}utils.js';

    const speciesInfo = {
        cation: {
            z: 1,
            color: '#E6AB02',
            mathLabel: '\\mathrm{Ag}^{+}',
        },
        anion: {
            z: 1,
            color: '#E6AB02',
            mathLabel: '\\mathrm{Cl}^{-}',
        },
        electron: {
            z: -1,
            color: '#377EB8',
            mathLabel: '\\mathrm{e}^{-}',
        },
    };

    const diagram = new ElectrochemicalSpeciesBandDiagram(
        plotContainerId,
        speciesInfo
    );

    // Set layout
    const boundaries = [0.0, 0.3, 0.7, 1.0];
    diagram.setSpatialLayout(boundaries, [
        { name: 'Silver wire', color: '#E0E0E0' },
        { name: 'AgCl coating', color: '#ccc' },
        { name: 'Solution', color: '#E6F5FF' },
    ]);

    const V_el = +0;
    const V_Cl = V_el + 1.138;
    diagram.setVRange(V_el - 0.23, V_Cl + 0.23);

    const b = boundaries;
    diagram.updateTraceData([
        {
            id: `electron_trace`,
            speciesId: 'electron',
            curveType: 'potential',
            showLabel: true,
            x: [b[0], b[1]],
            y: [V_el, V_el],
        },
        {
            id: `anion_trace`,
            speciesId: 'anion',
            curveType: 'potential',
            showLabel: true,
            x: [b[1], b[3]],
            y: [V_Cl, V_Cl],
        },
    ]);

    // No popup callback
    //    this.diagram.setTracePopupCallback(...);

    diagram.addVerticalMarker('ag-cl-', {
        symbol: '⇌',
        speciesId1: 'electron',
        speciesId2: 'anion',
        popupCallback: () => 'popup',
    });
    diagram.updateVerticalMarker('ag-cl-', {
        x: b[1],
        y1: V_el,
        y2: V_Cl,
        popupArgs: 'yo popupArgs',
    });
</script>
