<figure class="demo-container" style="max-width: 190px">
    <div class="bd-container" id="h2o-autoionization-container"></div>
</figure>

<script type="module">
    const plotContainerId = 'h2o-autoionization-container';

    import ElectrochemicalSpeciesBandDiagram from '{{ esbdJsPath }}ElectrochemicalSpeciesBandDiagram.js';
    import { formatPopupBaseContent, throttle } from '{{ esbdJsPath }}utils.js';

    const speciesInfo = {
        cation: {
            z: 1,
            color: '#c04040',
            // color: '#E4572E',
            mathLabel: '\\mathrm{H}^{+}',
        },
        anion: {
            z: -1,
            color: '#40a0a0',
            mathLabel: '\\mathrm{OH}^{-}',
        },
    };

    const diagram = new ElectrochemicalSpeciesBandDiagram(
        plotContainerId,
        speciesInfo
    );

    // Set layout
    const boundaries = [0, 1];
    diagram.setSpatialLayout(boundaries, [{ name: 'Water', color: '#E6F5FF' }]);

    const Delta = -2.457; // V

    const V_cat = -0.4567; //random
    const V_an = V_cat - Delta;
    diagram.setVRange(Math.min(V_cat, V_an) - 0.2, Math.max(V_cat, V_an) + 0.2);

    const b = boundaries;
    diagram.updateTraceData([
        {
            id: `anion_trace`,
            speciesId: 'anion',
            curveType: 'potential',
            showLabel: true,
            x: [b[0], b[1]],
            y: [V_an, V_an],
        },
        {
            id: `cation_trace`,
            speciesId: 'cation',
            curveType: 'potential',
            showLabel: true,
            x: [b[0], b[1]],
            y: [V_cat, V_cat],
        },
    ]);

    diagram.addVerticalMarker('zn', {
        symbol: '⇌',
        speciesId1: 'anion',
        speciesId2: 'cation',
        popupCallback: () =>
            '$ \\mathrm{H}^+ + \\mathrm{OH}^- \\rightleftharpoons \\mathrm{H_2O}. $',
    });
    diagram.updateVerticalMarker('zn', {
        x: 0.5,
        y1: V_an,
        y2: V_cat,
    });
</script>
