{% set idprefix = "esbd-she" %} {# standard hydrogen electrode #}
<figure class="demo-container" style="max-width: 230px">
    <div class="bd-container" id="{{idprefix}}-container"></div>
    <div style="text-align: center">
        <div>
            <label for="{{ idprefix }}-hplus-slider" style="font-size: 0.85em"
                >$\mathrm{H}^+$ concentration:
                <span
                    id="{{idprefix}}-hplus-conc"
                    style="display: inline-block; width: 7ch; text-align: right"
                ></span
                >&nbsp;mol/kg
            </label>
            <br />
            <input
                type="range"
                id="{{ idprefix }}-hplus-slider"
                min="-6.1"
                max="1.1"
                step="any"
                value="-1.7"
                list="{{ idprefix }}-0-datalist"
                style="width: 100px"
            />
        </div>
        <div>
            <label for="{{ idprefix }}-h2-slider" style="font-size: 0.85em"
                >$\mathrm{H}_2$ pressure:
                <span
                    id="{{idprefix}}-h2-press"
                    style="display: inline-block; width: 6ch; text-align: right"
                ></span
                >&nbsp;bar
            </label>
            <br />
            <input
                type="range"
                id="{{ idprefix }}-h2-slider"
                min="-2"
                max="2"
                step="any"
                value="-0.8"
                list="{{ idprefix }}-0-datalist"
                style="width: 100px"
            />
        </div>
        <datalist id="{{ idprefix }}-0-datalist">
            <option value="0" label="0">0</option>
        </datalist>
    </div>
</figure>

<script type="module">
    const plotContainerId = '{{idprefix}}-container';
    const hSlider = document.getElementById('{{ idprefix }}-hplus-slider');
    const hConcSpan = document.getElementById('{{ idprefix }}-hplus-conc');
    const h2Slider = document.getElementById('{{ idprefix }}-h2-slider');
    const h2PressSpan = document.getElementById('{{ idprefix }}-h2-press');
    const throttleDuration = 100; // should be 1/5 or less of transitionDuration

    import ElectrochemicalSpeciesBandDiagram from '{{ esbdJsPath }}ElectrochemicalSpeciesBandDiagram.js';
    import { throttle } from '{{ esbdJsPath }}utils.js';

    const speciesInfo = {
        hplus: {
            z: 1,
            color: '#c04040',
            mathLabel: '\\mathrm{H}^{+}',
        },
        electron: {
            z: -1,
            color: '#377EB8',
            mathLabel: '\\mathrm{e}^{-}',
        },
    };

    const diagram = new ElectrochemicalSpeciesBandDiagram(
        plotContainerId,
        speciesInfo
    );

    // Set layout
    const boundaries = [0.0, 0.5, 1.0];
    diagram.setSpatialLayout(boundaries, [
        { name: 'Inert metal', color: '#E0E0E0' },
        { name: 'Solution', color: '#E6F5FF' },
    ]);

    const R = 8.31446261815324; // Gas constant (J/mol·K)
    const F = 96485.3321233100184; // Faraday constant (C/mol)
    const T = 298.15; // Temperature (K, 25°C)
    const RT = R * T;
    const RT_F = RT / F;

    diagram.setVRange(-0.17, 0.55);

    function updateDiagrams() {
        const a_hplus = Math.pow(10, parseFloat(hSlider.value));
        const a_h2 = Math.pow(10, parseFloat(h2Slider.value));

        hConcSpan.textContent = a_hplus.toExponential(2);
        h2PressSpan.textContent = a_h2.toPrecision(3);

        const mu_H2_1bar = 0; // chemical potential of H2 at 1 bar fugacity
        const mu_H2 = mu_H2_1bar + RT * Math.log(a_h2);

        const V_el = +0; // GND
        const V_H = V_el + mu_H2 / (2 * F);
        const V_H_std = V_H - RT_F * Math.log(a_hplus);

        const b = boundaries;
        diagram.updateTraceData([
            {
                id: `electron_trace`,
                speciesId: 'electron',
                curveType: 'voltage',
                showLabel: true,
                x: [b[0], b[1]],
                y: [V_el, V_el],
            },
            {
                id: `h_trace`,
                speciesId: 'hplus',
                curveType: 'voltage',
                showLabel: true,
                x: [b[1], b[2]],
                y: [V_H, V_H],
            },
            {
                id: `h_std_trace`,
                speciesId: 'hplus',
                curveType: 'standardState',
                showLabel: true,
                x: [b[1], b[2]],
                y: [V_H_std, V_H_std],
            },
        ]);

        diagram.updateVerticalMarkers([
            {
                id: 'x',
                symbol: '⇌',
                x: b[1],
                yDefs: [{ y: V_el }, { y: V_H }],
                popupCallback: () =>
                    String.raw`$\mathrm{H}^+ + \mathrm{e}^- \rightleftharpoons \tfrac{1}{2}\mathrm{H}_2$`,
            },
        ]);
    }

    // Slider event listeners - throttle them.
    const updateThrottler = throttle(
        (event) => updateDiagrams(),
        throttleDuration
    );
    hSlider.addEventListener('input', updateThrottler);
    h2Slider.addEventListener('input', updateThrottler);

    updateDiagrams();
</script>
