    <div class="bd-container" id="electrode-generic-container"></div>

<script type="module">
    import ElectrochemicalSpeciesBandDiagram from '{{ esbdJsPath }}ElectrochemicalSpeciesBandDiagram.js';
    import { SPECIES, REGION } from '{{ esbdJsPath }}figureDefs.js';

    // ion/other/other' are abstract placeholders specific to this schematic.
    const speciesInfo = {
        ion: { z: 1, color: '#E41A1C', mathLabel: '\\mathrm{ion}' },
        other: { color: '#b080a0', mathLabel: '\\mathrm{other}' },
        other2: { color: '#80b0a0', mathLabel: "\\mathrm{other'}" },
        electron: SPECIES.electron,
    };

    const diagram = new ElectrochemicalSpeciesBandDiagram(
        'electrode-generic-container',
        speciesInfo
    );

    const boundaries = [0.0, 0.25, 0.55, 0.75, 1.0];
    const x_deltaV = 0.875;
    diagram.setSpatialLayout(boundaries, [
        REGION.solution,
        { ...REGION.metal, name: 'Electrode' },
        { name: 'Wire', color: '#F0B090' },
        { name: 'Voltmeter', color: '#f8f8f8' },
    ]);

    const V_el = +0.8;
    const V_ion = V_el - 1.1;
    const V_other = V_el + 0.5;
    const V_other2 = V_ion - 0.4;
    diagram.setVRange(V_other2 - 0.4, V_other + 0.4);

    const b = boundaries;
    diagram.updateTraceData([
        {
            id: `electron_trace`,
            speciesId: 'electron',
            curveType: 'voltage',
            showLabel: true,
            x: [b[1], x_deltaV],
            y: [V_el, V_el],
        },
        {
            id: `electron_trace_gnd`,
            speciesId: 'electron',
            curveType: 'voltage',
            showLabel: true,
            label: '\\mathrm{GND}',
            x: [x_deltaV, 1],
            y: [0, 0],
        },
        {
            id: `ion_trace`,
            speciesId: 'ion',
            curveType: 'voltage',
            showLabel: true,
            x: [b[0], b[1]],
            y: [V_ion, V_ion],
        },
        {
            id: `other_trace`,
            speciesId: 'other',
            curveType: 'voltage',
            showLabel: true,
            x: [b[0], b[1]],
            y: [V_other, V_other],
        },
        {
            id: `other2_trace`,
            speciesId: 'other2',
            curveType: 'voltage',
            showLabel: true,
            x: [b[0], b[1]],
            y: [V_other2, V_other2],
        },
    ]);

    diagram.updateVerticalMarkers([
        {
            id: 'react',
            symbol: 'Δ',
            x: b[1],
            yDefs: [{ y: V_el }, { y: V_ion }],
            popupCallback: () => 'Ion-electron reaction',
        },
        {
            id: 'voltmeter',
            symbol: 'V',
            x: x_deltaV,
            yDefs: [{ y: V_el }, { y: 0 }],
            popupCallback: () => 'Voltmeter',
        },
    ]);
</script>
