<figure class="demo-container" style="max-width: 230px">
    <div class="bd-container" id="zn-electrode-container"></div>
</figure>

<script type="module">
    import ElectrochemicalSpeciesBandDiagram from '{{ esbdJsPath }}ElectrochemicalSpeciesBandDiagram.js';
    import { SPECIES, REGION } from '{{ esbdJsPath }}figureDefs.js';

    const diagram = new ElectrochemicalSpeciesBandDiagram('zn-electrode-container', {
        cation: SPECIES.zinc,
        electron: SPECIES.electron,
    });

    const boundaries = [0.0, 0.5, 1.0];
    diagram.setSpatialLayout(boundaries, [
        { ...REGION.metal, name: 'Zinc metal' },
        REGION.solution,
    ]);

    const V_el = +0;
    const V_Zn = V_el;
    diagram.setVRange(V_el - 0.2, V_el + 0.2);

    const b = boundaries;
    diagram.updateTraceData([
        {
            id: `electron_trace`,
            speciesId: 'electron',
            curveType: 'voltage',
            showLabel: true,
            x: [b[0], b[1]],
            y: [V_el, V_el],
        },
        {
            id: `cation_trace`,
            speciesId: 'cation',
            curveType: 'voltage',
            showLabel: true,
            x: [b[1], b[2]],
            y: [V_Zn, V_Zn],
        },
    ]);

    diagram.updateVerticalMarkers([
        {
            id: 'zn',
            symbol: '⇌',
            x: b[1],
            yDefs: [{ y: V_el }, { y: V_Zn }],
            popupCallback: () =>
                '$\\mathrm{Zn} \\rightleftharpoons \\mathrm{Zn}^{2+} + 2\\mathrm{e}^-$',
        },
    ]);
</script>
