---
layout: layouts/esbd_topic.njk
title: 'Notebook: species voltages from a PyBaMM simulation'
description: 'Companion notebook: converting PyBaMM DFN battery simulation outputs into species voltages (V_Li+, V_e-, V_PF6-), with the full extraction recipe.'
tags: [page]
---

<p class="nb-links"><a href="/esbd/lib/">&larr; Back to Lithium-ion batteries</a> &middot; <a href="/notebooks/dfn-species-voltages.ipynb" download>Download .ipynb</a></p>

{% notebook "dfn-species-voltages" %}
